<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSetting" type="System.Configuration.ApplicationSettingGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ESPSharp_GUI.Properties.Setting" type="System.Configuration.ClientSettingSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSetting" type="System.Configuration.UserSettingGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ESPSharp_GUI.Properties.Setting" type="System.Configuration.ClientSettingSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ESPSharp_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSetting>
        <ESPSharp_GUI.Properties.Setting>
            <setting name="PluginDecompilerConfig" serializeAs="String">
                <value>PluginDecompilerConfig.xml</value>
            </setting>
        </ESPSharp_GUI.Properties.Setting>
    </applicationSetting>
    <userSetting>
        <ESPSharp_GUI.Properties.Setting>
            <setting name="MessageWarningColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="MessageErrorColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </ESPSharp_GUI.Properties.Setting>
    </userSetting>
    <userSettings>
        <ESPSharp_GUI.Properties.Settings>
            <setting name="MessageWarningColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="MessageErrorColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </ESPSharp_GUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ObjectListView" publicKeyToken="b1c5bf581481bcd4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.20263" newVersion="2.7.0.20263" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>